.color{
    background-color: #d8412f !important;
}
.white{
    color: #FCFDFE !important;
    font-weight: 700;
}
.colorButton{
    background-color: #fe7a47 !important;
    border-color: #fe7a47!important;
    font-weight: bold;
    color: #FCFDFE;
}
