.color{
    background-color: #FAAF03 !important;
}
.white{
    color: white !important;
}
.colorButton{
    background-color: #FA812F !important;
    border-color: #FA812F !important;
}
.beis{
    background-color: #cdbdb0;
}
.rojo{
    background-color: #b83143;
}
.amarillo{
    background-color: #f2d696;
}