.color{
    background-color: #FAAF03 !important;
}
.colorButton{
    background-color: #FA812F !important;
}
.white{
    font-weight: bold;
}
.beis{
    background-color: #cdbdb0 !important;
}
.rojo{
    background-color: #b83143 !important;
}
.amarillo{
    background-color: #f2d696;
}
img{
    width: 20%;
}