
.bold{
    font-weight: bold;
    color: #FCFDFE !important;
}
.granola{
    background-color: #f5ca99 !important;
}
.strawberry{
    background-color: #d8412f !important;
}
.papaya{
  background-color: #d8412f !important;
}
img{
    width: 15%;
}
.bold2{
    font-weight: bold;
    color: #d8412f !important;
}
a:hover {
    color: #f5ca99 !important;
  }
.papaya:hover{
    background-color: #FCFDFE !important;;
    color: #d8412f !important;;
}