.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.granola{
    background-color: #f5ca99 !important;
}
.strawberry{
    color: #d8412f !important;
}
.papaya{
  color: #fe7a47 !important;
  font-weight: 700;
}